* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {

  font-size: 16px;

  /* colors */
  --color-primary: #ea5f4d;
  --color-black-1: #3b413f;
  --color-secondary: #F0F0F0;
  --color-white: white;


  --color-dark-0: #1a1b24;
  --color-dark-1: #404258;
  --color-dark-2: #474E68;
  --color-dark-3: #50577A;
  --color-dark-4: #6B728E;
  --color-dark-5: #8890b3;
  --color-dark-6: #a1aad3;
  --color-dark-7: #c0cdff;
  --color-dark-8: #dee4ff;
  --color-dark-9: #f0f3ff;
  --color-dark-10: #f9faff;




  /* background color */
  --nav-bg-color: var(--color-dark-0);

  --shadow-dark-0: .5px .5px 10px -5px var(--color-dark-8);

  --shadow-white-1: .5px .5px 10px -5px white;
  --shadow-white-2: .5px .5px 10px 0px white;

  --shadow-black-1: .5px .5px 10px -10px black;
  --shadow-black-2: .5px .5px 10px -5px black;
}


/* Globals */

.section {
  width: 100%;
}

.container {
  margin-inline: auto;
  padding-inline: 10px;
  max-width: 1000px;
}

.section>.container>.title {
  font-size: 3rem;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
  text-align: start;
  position: relative;
  color: var(--color-dark-6);
}

.section>.container>.title:after {
  content: "";
  display: block;
  background-color: var(--color-dark-8);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 50px;
}

.para {
  color: var(--color-dark-8);
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 30px;
}


/* section 1 */
/* nav */
.nav-section {
  /* background-color: var(--nav-bg-color); */
  background-image: linear-gradient(to right,
      var(--color-dark-0),
      var(--color-dark-2));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-section .logo {
  font-size: 2rem;
  color: var(--color-dark-4);
}

.nav-section .logo b {
  color: var(--color-primary);
}

/* presentation section */
.presentation {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;

}

.presentation-section {
  background-image: linear-gradient(to right, var(--color-dark-0), var(--color-dark-0), var(--color-dark-1));
}

.presentation img {
  width: 100%;
}

.presentation>div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.presentation>div h1 {
  font-size: 3.5rem;
  color: var(--color-dark-5);
}

.presentation>div .contact-btn {
  width: fit-content;
  padding: 20px 30px;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.presentation>div .contact-btn:hover {
  opacity: .9;
}

.presentation>div .contact-btn:active {
  opacity: .8;
}


/* section 2 */


.skills-section {
  background-color: var(--color-dark-1);
  padding-block: 40px;
}

/* .skills-section .title {
  color: var(--color-white);
} */

/* .skills-section p {

} */

.skills-section .content {
  display: flex;
  gap: 10px;
}

.skills-section .img {
  flex: 2;
}

.skills-section .img>img {
  width: 100%;
  opacity: .7;
}

.skills-section .skills {
  flex: 3;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.skill {
  height: 80px;
  border-radius: 5px;
  background-color: var(--color-white);
  transition: all .5s;
  box-shadow: var(--shadow-white-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--color-dark-1);
  background-color: var(--color-dark-8);
  padding: 5px;
}

.skill:hover {
  box-shadow: var(--shadow-dark-0);
  scale: 1.05;
}

.skill>i {
  font-size: 2rem;
}

.skill img {
  width: 100%;
  max-width: 80px;
}

.skill>span {
  font-size: 1rem;
  text-transform: capitalize;
}

/* projects section  */
/* section 3 */


.projects-section {
  background-color: var(--color-dark-1);
  padding-block: 40px;
}

/* .projects-section .title {
  color: var(--color-);
}

.projects-section p {
  color: var(--color-secondary);
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
  font-size: 1.1rem; 
}*/



/* contact section [section 4] */
.contact-section {
  padding-block: 40px;
  background-color: var(--color-dark-0);
  background-image: repeating-linear-gradient(to right, var(--color-dark-0), var(--color-dark-1));
}

/* contact container [not general container] */
.contact-section .container>div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  background-color: var(--color-dark-3);
  border-radius: 20px;
  overflow: hidden;
}

/* left side */

.contact-section .left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
}

.contact-section .left-side h1 {
  font-size: 2.5rem;
  color: var(--color-secondary);
}

.contact-section .left-side .personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-section .left-side .personal-info>div {
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  color: var(--color-secondary);
}




/* form right side */

.contact-section form {
  width: 100%;
  max-width: 500px;
  background-color: var(--color-dark-4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-section form .title {
  color: var(--color-dark-9);
  padding-bottom: 0px;
  text-align: left;
  font-size: 2rem;
}

.contact-section form p {
  color: var(--color-dark-10);
  position: relative;
  top: -10px;

}

.contact-section form .input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.contact-section form .input-group label {
  color: var(--color-dark-9);
  text-transform: capitalize;
  font-weight: 500;
}

.contact-section form .input-group input,
.contact-section form .input-group textarea {
  background-color: #ddd;
  padding: 5px 10px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid grey;
  border-radius: 3px;
}

.contact-section form .input-group textarea:focus,
.contact-section form .input-group input:focus {
  border-color: var(--color-dark-10);
}

.contact-section form button {
  padding: 5px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 3px;
  width: fit-content;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.contact-section form button:hover {
  opacity: .9;
}



/* footer section */
.footer-section {
  padding-block: 20px;
  background-color: var(--color-dark-2);
  color: var(--color-secondary);
}