@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto';
}

/* , sans-serif; */




.nav-font-family {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight:400; */
}











/* change section animation */


.section {
    transition: all;
    transition-duration: 3s;
    transform: rotate(-90deg) translateY(100%) translateX(100%);
    opacity: 0;

    position: fixed;
    top: 0px;
    left: 0px;

    padding: 25px;
    width: 100%;


}

.section.active {
    transform: rotate(0deg) translateY(0px);
    opacity: 1;
}